@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.firma:hover {
    cursor: pointer;
}
.user:hover {
    cursor: pointer;
}
.icon:hover {
    cursor: pointer;
}
.toolbar {
    background-color: lightsteelblue;
    color: black;
}
.fill {
    flex: 1 1 auto;
}
.button {
    font-size: 20px;
}